<h1>angular-drag-and-drop-lib</h1>

<h2>draggable and dropArea</h2>

<div draggable class="draggable-box" [dropAreas]="[myDropArea,myOtherDropArea]" name="myDraggable">
    <div class="title">My Draggable</div>
</div>

<app-test-draggable-component draggable [dropAreas]="[myDropArea,myOtherDropArea,dropArea3]" name="myComponentDraggable"></app-test-draggable-component>

<div class="drop-area" dropArea (drop)="dropped($event, area)" #myDropArea name="myDropArea">
    <div class="title">My Drop Area</div>
</div>

<div class="drop-area" dropArea (drop)="dropped($event, area)" #myOtherDropArea name="myOtherDropArea">
    <div class="title">My Other Drop Area</div>
</div>

<div class="drop-area" dropArea (drop)="dropped($event, area)" #dropArea3 name="dropArea3">
    <div class="title">Drop Area That Only Accepts The Component</div>
</div>

<div class="drop-area" dropArea (drop)="dropped($event, area)" #dropArea4 name="dropArea4">
    <div class="title">Drop Area That Doesn't Accept Anything</div>
</div>